a:link{
	color: #FF0000;
	background-color: #CCFFFF;
	text-decoration: none;
}
a:visited{color: #00FF00;}
a:hover{color: #FF00FF;}
a:active{color: #0000FF;}

ul.circle{list-style-type: circle;}
ul.square{list-style-type: square;}
ol.upper-roman{list-style-type: upper-roman;}
ol.lower-alpha{list-style-type: lower-alpha;}

ul.img1{
	list-style-image: url("1.ico");
	text-align: center;
}
ul.img2{
	list-style-image: url("2.ico");
	text-align: center;
}

#tb,th,td{
	border: 1px solid green;
	padding: 5px;
}
#tb{
	border-collapse: collapse;
	width: 500px;
	text-align: center;
}
#tb th{
	text-align: center;
	color: black;
	background-color: lightseagreen;
}
#tb tr.tr2 td{
	color: black;
	background-color: #B2FF99;
}
#p1{
	outline-color: #FF704D;
	outline-style: groove;
	outline-width: 10px;
}

#p2{
	outline-color: green;
	outline-style: dotted;
	outline-width: 5px;
}
